[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"

[packages]
pillow = "*"
pytesseract = "*"
pipwin64 = "*"
pipwin32 = "*"
pywin32 = "*"
pycodestyle = "*"

[requires]
python_version = "3.6"
